/* Colors: 
tan:  #F3E9DA
brown:  #5E423D */



header .display-4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 0;
}

.donut-img {
    width: 235px;
    min-width: 175px;
}

.title-wrapper {
    width: 50%;
}

nav .lato--bold,
.lato--bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

nav .custom-font--jaldi {
    font-family: 'Jaldi', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}


/* .fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
} */

nav .btn {
    font-size: 1.25rem;
}

.coffee-pastry-img {
    /* width: 300px;
    height: auto; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.batch-bundle-img {
    /* width: 310px;
    height: auto; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-danger {
    background-color: #D98236;
    border: none;
}

/* .navbar-light {
    background-color: white;

} */


.round-btn {
    width: 150px;
    height: 150px;
}

.round-div {
    width: 325px;
    height: 325px;
}

.custom-background {
    background-color: #E5E3E3;
}

@media (max-width: 768px) {

    .custom-height {
        height: 100px;
    }

    .batch-bundle-img {
        width: 310px;
        height: auto;
    }

}

@media (max-width: 576px) {

    .title-wrapper {
        width: 100%;
    }

    .donut-wrapper {
        text-align: center;
        margin-top: 5px;
    }

    .donut-img {
        display: none;
    }

    .card-body .donut-menu-img {
        height: 1%;
    }

    .cart-content-container.bg-light {
        background-color:  #F3E9DA;
    }

}