/* Colors: 
tan:  #F3E9DA
brown:  #5E423D
dark blue: #243540*/

/* * {
    box-sizing: border-box;
} */

/* GLOBAL STYLES ----------------------------------------------*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}

/* --- Typography --- */

h1, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2, h3 {
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

header .display-4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 0;
}

/*REMOVE ALL THESE CLASSES, NOT NEEDED*/

/* .cart-heading, .options-heading, .pickup-heading, .delivery-heading, .review-heading {
    font-weight: 900;
    font-size: 50px;
    color: black;
    text-shadow: -6px 0 #E5E3E3, 0 1px #E5E3E3, 0px 0 #E5E3E3, 0 0px #E5E3E3;
} */

.order-heading {
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-shadow: -6px 0 #9B5D26, 0 1px #9B5D26, 0px 0 #9B5D26, 0 0px #9B5D26;
}

/* --- Custom Styles --- */

.custom-color--gray {
    background-color: #E5E3E3;
}

.custom-color--blue {
    background-color: #243540;
}

.custom-bg--orange {
    background-color: #D98236;
}

.custom-border--gray {
    border: 0.75em solid #E5E3E3;
}

.custom-border--blue {
    border: 0.5em solid #243540;

}

.custom-border--orange {
    border: 0.75em solid #D98236;
}

.donut-background--blue {
    background-image: url("img/sprinkle-blue.svg");
}

.custom-text--orange {
    color: #D98236;
}

/* --- JS Event Styles --- */

section {
    display: none;
}

.current-div {
    display: block;
}





/* LAYOUT ------------------------------------- */

/* --- Header --- */

.title-wrapper {
    width: 50%;
}

.header__img {
    width: 235px;
    min-width: 175px;
}

/* --- Home Screen --- */

/* Start Nav */

nav .lato--bold,
.lato--bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

nav .custom-font--jaldi {
    font-family: 'Jaldi', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

nav .btn {
    font-size: 1.25rem;
}

ul button {
    border: none;
    background-color: white;
}

/* End Nav */


.coffee-pastry-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.batch-bundle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__donut-sprinkle {
    width: 400px;
    height: 400px;
}

.home__start-order-btn {
    width: 175px;
    height: 175px;
    font-weight: 900;
    font-size: 30px;
    box-shadow: -9px 5px black;
    
}

/* --- Order Screen --- */

.custom-col-selling {
    width: 100%;
    height: 100%;
}

.description {
    height: 48px;
}

.donut-menu-img-wrapper {
    height: 150px;
    width: auto;
}

.display-qty {
    width: 50px;
    text-align: center;
    font-size: 20px;
    border-style: solid;
    border-color: #E5E3E3;
}

.js-minus-btn,
.js-add-btn {
    width: 35px;
    border-style: solid;
    border-color: #E5E3E3;
    margin: 0 0.5em;
    text-align: center;
}

.js-order-screen-total {
    border-top: 0.5em solid #E5E3E3;
}


/* --- Cart Screen --- */

.cart__donut-img {
    width: 100px;
}

.cart-empty-alert {
    font-size: 20px;
    text-align: center;
}


/* Media Queries  ------------------------------------- */


@media (max-width: 768px) {

    .custom-height {
        height: 100px;
    }

    .batch-bundle-img {
        width: 310px;
    }

}

@media (max-width: 576px) {

    .title-wrapper {
        width: 100%;
    }

    .donut-wrapper {
        text-align: center;
        margin-top: 5px;
    }

    .header__img {
        display: none;
    }

    /* .card-body .donut-menu-img {
        height: 1%;
    } */

    .cart-content-container.bg-light {
        background-color: #F3E9DA;
    }

    .home__start-order-btn {
        width: 150px;
        height: 150px;
    }

    .home__donut-sprinkle {
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 370px) {

    .home__donut-sprinkle {
        width: 260px;
        height: 260px;
    }
}