header .display-4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 0;
}

.donut-img {
    width: 235px;
    min-width: 175px;
}

.title-wrapper {
    width: 50%;
}

nav .lato--bold,
.lato--bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

nav .btn {
    font-size: 1.25rem;
}

.btn-danger {
    background-color: #5E423D;
    border: none;
}

.navbar-light {
    background-color: #F3E9DA;
}

@media (max-width: 576px) {

    .title-wrapper {
        width: 100%;
    }

    .donut-wrapper {
        text-align: center;
        margin-top: 5px;
    }

    .donut-img {
        display: none;
    }

    .card-body .donut-menu-img {
        height: 1%;
    }

    .cart-content-container.bg-light {
        background-color:  #F3E9DA;
    }





}